parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - *.blade.php

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Cache::store\(\)#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\Cache::flush\(\)#'
        - '#Property .* is never assigned .* so it can be removed from the property type#'
        - '#Property .* is never read, only written#'
        - '#Property .* is never written, only read#'
        - '#Offset .* on .* on left side of \?\? always exists#'
        - '#Parameter .* expects array<string, mixed>, array<int, .* given#'
        - '#PHPDoc tag @method for method getConfig\(\) return type with no value type#'
        - '#Method .* has parameter .* with no value type specified in iterable type array#'
        - '#Method .* return type has no value type specified in iterable type array#'
        - '#Property .* on left side of \?\? is not nullable nor uninitialized#'
        - '#extends generic class .* but does not specify its types#'
        - '#should return .* but returns .*BaseResponseDTO#'
        - '#should return.*static.*but returns.*\w+ResponseDTO#'
        - '#Method .* should return.*static.*but returns.*ResponseDTO#'
        - '#Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::headers\(\)#'
        - '#Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::getBody\(\)#'
        - '#Expression on left side of \?\? is not nullable#'
        - '#Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::headers#'
        - '#Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::getBody#'

    reportUnmatchedIgnoredErrors: false

    treatPhpDocTypesAsCertain: false

includes:
    - ./vendor/larastan/larastan/extension.neon